html * {
    font-family: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.container2 {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.container2 p {
    display: block;
}

.text1 {
    font-size: 150px;
    font-weight: 700;
    margin-bottom: 1px;
    background: white;
    position: relative;
    animation: text 1.4s 1;
}

.text2 {
    font-size: 20px;
    color: #157D7C;
}

@keyframes text {
    0% {
        color: white;
        margin-bottom: -42px;
    }

    30% {
        letter-spacing: 25px;
        margin-bottom: -42px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -42px;
    }
}

.uiMB {
    display: flex;
    border-top: solid green;
    /* justify-content: center; */
    margin-top: 220px;
    flex-direction: column;
    width: 1200px;
    margin-left: 17%;


}

.michael {
    display: flex;
    padding: 10px;
    margin-left: 38%;

}

.michaelSite {
    display: flex;
    margin-left: 48%;
    color: black;
    font-size: 22px;
}

.michaelIMG {
    width: 200px;
    height: 200px;
    display: flex;
    padding: 10px;

    margin-left: 43%;

}

.uiManny {

    display: flex;
    border-top: solid blue;
    /* justify-content: center; */
    margin-top: 20px;
    flex-direction: column;
    width: 1200px;
    margin-left: 17%;


}

.manny {
    display: flex;
    padding: 10px;
    margin-left: 38%;

}

.mannySite {
    display: flex;
    margin-left: 48%;
    color: black;
    font-size: 22px;
}

.mannyIMG {
    width: 200px;
    height: 200px;
    display: flex;
    padding: 10px;
    transform: rotate(90deg);
    margin-left: 43%;

}

/* BROOKS ///////////////////////////////////////// */


.uiBrooks {
    display: flex;
    border-top: solid purple;
    /* justify-content: center; */
    margin-top: 20px;
    flex-direction: column;
    width: 1200px;
    margin-left: 17%;


}

.brooks {
    display: flex;
    padding: 10px;
    margin-left: 38%;

}

.brooksSite {
    display: flex;
    margin-left: 48%;
    color: black;
    font-size: 22px;
}

.brooksIMG {
    width: 200px;
    height: 200px;
    display: flex;
    padding: 10px;

    margin-left: 43%;

}

/* Casey */

.uiCasey {
    display: flex;
    border-top: solid gold;
    /* justify-content: center; */
    margin-top: 20px;
    flex-direction: column;
    width: 1200px;
    margin-left: 17%;


}

.casey {
    display: flex;
    padding: 10px;
    margin-left: 38%;

}

.caseySite {
    display: flex;
    margin-left: 48%;
    color: black;
    font-size: 22px;
}

.caseyIMG {
    width: 200px;
    height: 200px;
    display: flex;
    padding: 10px;

    margin-left: 43%;

}

/* Kobe */

.uiKobe {
    display: flex;
    border-top: solid teal;
    /* justify-content: center; */
    margin-top: 20px;
    flex-direction: column;
    width: 1200px;
    margin-left: 17%;


}

.kobe {
    display: flex;
    padding: 10px;
    margin-left: 38%;

}

.kobeSite {
    display: flex;
    margin-left: 48%;
    color: black;
    font-size: 22px;
}

.kobeIMG {
    width: 200px;
    height: 200px;
    display: flex;
    padding: 10px;

    margin-left: 43%;

}

/* JEFF ///////////////////////////////////////// */

.uiJeff {
    display: flex;
    border-top: solid firebrick;
    /* justify-content: center; */
    margin-top: 20px;
    flex-direction: column;
    width: 1200px;
    margin-left: 17%;


}

.jeff {
    display: flex;
    padding: 10px;
    margin-left: 38%;

}

.jeffSite {
    display: flex;
    margin-left: 48%;
    color: black;
    font-size: 22px;
}

.jeffIMG {
    width: 200px;
    height: 200px;
    display: flex;
    padding: 10px;

    margin-left: 43%;
}

@media (max-width: 600px) {

    .uiBrooks h1,
    .uiCasey h1,
    .uiJeff h1,
    .uiKobe h1,
    .uiMB h1,
    .uiManny h1 {
        font-size: 150px;
        justify-content: flex-start;
        margin-left: 300px;

    }

    .uiBrooks img,
    .uiCasey img,
    .uiJeff img,
    .uiKobe img,
    .uiMB img

    /* .uiManny h1 */
        {
        width: 900px;
        height: 900px;
        margin-left: 1px;

    }

    .michaelSite,
    .mannySite {
        font-size: 100px;
        margin-left: 70px;
    }

    .uiBrooks,
    .uiCasey,
    .uiJeff,
    .uiKobe,
    .uiMB,
    .uiManny {
        /* border: solid red; */
        width: 1400px;
        align-items: center;
        justify-content: flex-start;

    }

    .uiMB {
        margin-top: 1475px;
    }

    /* /////////////////////////////////////// */


    .container2 {
        text-align: center;
        position: absolute;
        top: 80%;
        left: 200%;
        transform: translate(-50%, -50%);


    }

    .container2 p {
        display: block;
    }

    .text1 {
        font-size: 400px;
        font-weight: 700;
        margin-bottom: 1px;
        background: white;
        position: relative;
        animation: none;
    }

    .text2 {
        font-size: 100px;
        color: #157D7C;
    }

    /* @keyframes text {
        0% {
            color: white;
            margin-bottom: -42px;
        }

        30% {
            letter-spacing: 25px;
            margin-bottom: -42px;
        }

        85% {
            letter-spacing: 8px;
            margin-bottom: -42px;
        } */

}








}